
/Src/ATHMovil.PurchaseSDK.Android/bin
/Src/ATHMovil.PurchaseSDK.Android/obj

/Src/ATHMovil.PurchaseSDK.iOS/bin
/Src/ATHMovil.PurchaseSDK.iOS/obj

/Src/ATHMovil.PurchaseSDK.NuGet/bin
/Src/ATHMovil.PurchaseSDK.NuGet/obj

/Src/ATHMovil.PurchaseSDK.NuGet/bin
/Src/ATHMovil.PurchaseSDK.NuGet/obj

/Sample/Packages/

Source/ATHMovil.PurchaseSDK/obj/
Source/ATHMovil.PurchaseSDK/bin/


/Sample/TestApp/bin
/Sample/TestApp/obj

/Sample/TestApp.Android/bin/
/Sample/TestApp.Android/obj/

/Sample/TestApp.iOS/bin
/Sample/TestApp.iOS/obj

Sample/.vs/TestApp/xs/
Source/.vs/ATHMovil.PurchaseSDK/xs/
